<h1>Welcome to La Red Verde!</h1>
<p>As this is your first visit, here are how think Work....</p>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center> <%= link_to "Take me to my Profile", user_path(current_user), class: "btn btn-success"  %></center>
