<% if signed_in? %>
I am following <%= current_user.follow_count %> Farms.
                  
    <div class="container">
<div class="row">
<div class="span4">
            </div>
<div class="span4">
Nearby products :
<ul>
  
  
</ul>

</div>
<div class="span4"></div>
</div>
</div>

  
<% else %>
  <div class="center hero-unit" >
    <h2>Welcome To El Red Verde</h2>

    <p>
      Your online market place connecting small farmers to people who care about Fresh Local Produce!
    </p>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
    <%= link_to "Sign in", signin_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  
<% end %>



