
<h1>Welcome to La Red Verde!</h1>
<p>As this is your first visit, here are how think Work....</p>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center><div class="btn-toolbar">
<%= link_to "Take me to my Profile", user_path(current_user), class: "btn btn-success"  %>
 <%= link_to "List Some Produce Now", new_farm_path, class: "btn btn-success"  %></center>
</div>