<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %></h1>
    <h1>Hey <%= @message.body %></h1>

    <br>
    <p>You  a new message on La Red Verde!<% %></p><br>
www.la-red-verde.heroku.com <-- Click here to sign in</a>   </body>
</html>