<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey <%= @user.name %></h1>
    <br>
    <p>You have recived a new message on La Red Verde!<%= @message.body %></p><br>
<a herf="www.la-red-verde.heroku.com">Click here to sign in</a>   </body>
</html>