<div class="container">
<div class="row">
<li><div class="span5 ">
<%= image_tag user.avatar.url(:thumb) %>
<%= link_to user.name, user %>


</div>




<div class="span6">

  
 </div>

</li>
</div>
</div>