<footer class="footer"><br><br><br><br>
<small><br><br>
An Online Trading Platform For Growers Big and Small
</small>
<nav>
<ul><br><br>
<li><%= link_to "Welcome Page", welcome_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><a href="http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>